<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Operation Menu</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>

<body onload="getLocation()">
    <h1>Current Location</h1>
    <p id="latitude"></p>
    <p id="longitude"></p>
    <p id="locationInfo"></p>

    <form id="dataForm">
        <label for="startFrequency">Start Frequency:</label>
        <input type="text" id="startFrequency" name="startFrequency">
        <br>
        <label for="endFrequency">End Frequency:</label>
        <input type="text" id="endFrequency" name="endFrequency">
    </form>

    <button onclick="sendLocation()">Send Location and record psd</button>
</body>

</html>